*,
*:before,
*:after 
{ 
    box-sizing: border-box; 
}

iframe 
{ 
    style:"background:white;border:none;overflow:hidden";
}

@media (orientation: landscape) 
{
    iframe 
    { 
        height:360;
    }
}

@media (orientation: portrait) 
{
    iframe 
    { 
        height:640
    }
}

body 
{ 
    -webkit-text-size-adjust: 200%;
    margin: 0px; 
    font-family: 'Helvetica', 'Open Sans', 'sans-serif'; 
    background-color: #fff; 
    color: #444; 
}

* 
{ 
    -weebkit-user-select: none; 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

a { text-decoration: none; }
a:link { color:blue; }
a:visited { color:blue; }
a:hover { color:orange; }
a:focus { color:orange; }
a:active { color:blue; }
img { max-width: 100%; }
h1, p { margin: 0 0 1em 0; }

.media 
{ 
    height: 50%;
    overflow-y: scroll;
    overflow: auto;
    margin-bottom: 0em; 
}

.section-title
{ 
    font-weight: bold; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 
    grid-area: title; 
}

.section-image
{ 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 40px; 
    grid-area: title; 
}

.section-links
{ 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 
    grid-area: title; 
}

.media > .img 
{
    grid-area: img; 
}

.media > .content 
{ 
    overflow: auto;
    grid-area: bd; 
    padding: 10px; 
}

.footer 
{ 
    font-weight: bold; 
    padding: 10px; 
    grid-area: ft; 
}

.wrapper 
{
    display: grid;
    grid-template-columns: 240px 440px;
}

.wrapper > div 
{
    border: 1px solid #fff;
    background-color: #8ca0ff;
    padding: 5px 5px 5px 5px; 
}

.col-container 
{
    display: table; /* Make the container element behave like a table */
    width: 50%; /* Set full-width to expand the whole page */
}

.col 
{
    display: table-cell; /* Make elements inside the container behave like table cells */
}


